/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  --ion-color-secondary: #ffffff;
  --ion-color-secondary-rgb: 255, 255, 255;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #f8f9fa;
  --ion-color-secondary-tint: #ffffff;
}

.bottom-right-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}
input[type="checkbox"]:checked {
  background: #397ff7;
  color: white;
}

input[type="checkbox"] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  background: white;
  height: 20px;
  width: 20px;
  border: 1px solid rgb(182, 182, 182);
  border-radius: 2px;
  color: white;
}

input[type="checkbox"]:after {
  content: " ";
  position: relative;
  left: 40%;
  top: 20%;
  width: 30%;
  height: 50%;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(50deg);
  display: none;
}

input[type="checkbox"]:checked:after {
  display: block;
}
